set_io --warn-no-port clk 21
set_io --warn-no-port uart_txd  8
set_io --warn-no-port uart_rxd  9
set_io --warn-no-port resetn 7
set_io --warn-no-port leds[0] 96
set_io --warn-no-port leds[1] 97
set_io --warn-no-port leds[2] 98