set_io --warn-no-port clk 35
set_io --warn-no-port uart_txd  25
set_io --warn-no-port uart_rxd  27
set_io --warn-no-port resetn 21 # rp pin 2
set_io --warn-no-port leds[0] 39
set_io --warn-no-port leds[1] 40
set_io --warn-no-port leds[2] 41